name: Build image
on: [push, pull_request]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install sshpass
      run: sudo apt-get install -y --no-install-recommends sshpass
    - name: Install python dependencies
      run: |
        python -m pip install requests "galaxy-tool-util>=20.1.0.dev5"
    - run: docker --version
    - run: docker info
    - name: Build images
      run: |
        mulled-build-files --check-published --singularity --namespace $MULLED_NAMESPACE build-and-test ./combinations --verbose
    - name: Upload images (if pushed to master branch)
      if: github.event_name == 'push' && github.event.ref == 'master'
      run: |
        openssl aes-256-cbc -K $encrypted_69030c032500_key -iv $encrypted_69030c032500_iv -in galaxy_depot_travis.enc -out ~/.ssh/galaxy_depot_travis -d
        chmod 600 ~/.ssh/galaxy_depot_travis
        printf "%s\n" \
            "Host orval.galaxyproject.org" \
            "  IdentityFile ~/.ssh/galaxy_depot_travis" \
            "  LogLevel ERROR" >> ~/.ssh/config
        eval $(ssh-agent)
        sshpass -e -P 'Enter passphrase for' ssh-add ~/.ssh/galaxy_depot_travis

         mulled-build-files --check-published --namespace $MULLED_NAMESPACE --oauth-token $QUAY_OAUTH_TOKEN push ./combinations;
         ls -l singularity_import;
         ssh-keyscan -t rsa orval.galaxyproject.org >> ~/.ssh/known_hosts;
         [ "$(ls -A singularity_import)" ] && echo 'uploading Singularity images' && scp singularity_import/*:* singularity@orval.galaxyproject.org:/srv/nginx/depot.galaxyproject.org/root/singularity/

